<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the request points to an existing file or directory, serve it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, send everything to index.php
    RewriteRule ^ index.php [L]
</IfModule>